# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
pnpm-lock.yaml
.history

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

web-game-yiv.config.cjs
web-game-yiv-amara047k.config.cjs
